@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(reset\(1\).css);
@import url(variables\(1\).css);
@import url(status-bar\(1\).css);

body {
  font-family: "Roboto", serif;
}

.Welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.Welcome-header__tittle {
  margin-bottom: 40px;
  font-size: 30px;
}

.Welcome-header__text {
  width: 60%;
  opacity: 0.6;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  color: var(--pink);
}

#login-form input:focus {
  border-color: var(--pink);
}

#login-form input[type="submit"] {
  background-color: var(--pink);
  cursor: progress;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: var(--pink);
  font-size: 12px;
}
